@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background: linear-gradient(to bottom, red, pink, blue);
    height: 100vh;
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* alinha no eixo vertical */
    align-items: center;     /* alinha no eixo horizontal */
    height: 100vh;
    gap: 2vh; /* espaço entre seções */
}

.formularioEmail,
.formulariosenha {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 250px; /* largura fixa para melhor controle */
}

.formularioEmail > input,
.formulariosenha > input {
    height: 3vh;
    border-radius: 10%;
    padding: 5px;
}

button {
    width: 15%;
    border-radius: 5%;
    height: 4vh;
    cursor: pointer;
}
